{% extends 'base.html.twig' %}

{% block title %}Hello !!!{% endblock %}

{% block body %}

<div id="menu">
    <h1>Michal</h1>
    <ul>
        <li class="personal_data">Michał Kaczmarek</li>
    </ul>
</div>
{% endblock %}
