{% extends 'base.html.twig' %}

{% block title %}Hello !!!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
{% endblock %}

{% block body %}

<div id="menu">
    <h1>Powitanie!!!</h1>
    <ul>
        <li class="personal_data">Michał Kaczmarek</li>
    </ul>
</div>

{% endblock %}
